<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/2/plot" value="false" />
    <add key="/intelcpu/0/power/3/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/data/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="161" />
    <add key="mainForm.Location.Y" value="114" />
    <add key="mainForm.Width" value="585" />
    <add key="mainForm.Height" value="715" />
    <add key="/hdd/0/temperature/0/values" value="" />
    <add key="/hdd/0/data/0/values" value="" />
    <add key="/hdd/0/load/0/values" value="" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEALvsqX6m8sR1j4KuJU4xFSlMDECwP2eJU++SRDB7bccSp9bFEHZG3xKnSUFJYLZTxBInjR3JYPa10CVOE7dB1ByIWuIkUg9RE2Gy1KlIHCJ+r2eZk2szxHz3+uVOt4MTwOyNmcud/m2EiKvdXu503wGi94fZCqfuboj5so9WOAEADYcoSqgAAAA=" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEALvsqX6m8sR1jySmCw4xFSlMDEBw4855h94liWC2BsMFh9bFEHYa+wWHSUFJYPanQ+cdNHYkg9mP9p93mLgNokbi2HkHkXqIGp2bFxyKxCHi23ouObg2Q8zX2n/Z4XZwApj9YPFlh38bIeJ+xlcc7jtA9CYtv+LQ3Q0xf1/9VQcA2niJMKgAAAA=" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEALvsqX6m8sR1jx1+m+1jKlKYGIDgwZPN9r1LEsHsBeGb7VsXQ9grrDbbTwpKArMrfLbYa+xIBrN3RGyxn7gNouaB/RZ7kXqImgmf19sXiUPEM1RX2rs2Q8yfEb3E/nZwAph94MQS+38bIeIc3Yvs7ztA9O7YtcC+uxtivkfkXHsACC17bqgAAAA=" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEAEt9uu505YnrHg92L3RSvenExAAETbMEnTZeTgSzd0SrOa1RSgKzGX7wOb1fARE/zcXjdOd7Mpjt37LU8cR2iDjDDFanubeg7EeNTqp/IGoYQoKdSnsg5vjr5DmFPoSoWfZ/rdOHixDxo+8mO8XOTAGzEyRsnfwuJIDZ0kyBTgB9/pT7qAAAAA==" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAGsrWHe68sR1j5hT851Y/JyZGIBgUiG/U/SaRDBbbrK8E5NXEpjNcIHF6f0KiLjO6V+Od74ng9nzNNocT2yHiDO8YHCaewvGbnBS/QNRw3AjzKm0B2LOzch8p9CHEDV37q1y+nARIp50eYJT7MwUqHpbJ78LCRC2g58TAIgDLfeoAAAA" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAEt9uu505YnrHqlrFzup3nRiYgCCksPCThsvJ4LZQSq6TmuUksBsBgVJp/crIOIMG6Sc7nxPhrAfHHE8sR0q7sHlNPcWlH2nyUn1D1TNBX+n0h6IOUf/5TiFPoSoKVLY6PThIkRcnWu6U+zMFDD7YISNk9+FBDDb9EiwEwCbWlxjqAAAAA==" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEAEt9uu505YnrHgwMvU6qN52YGMCg3qn7VyKcfek3jF3u9H4FjF3sdOd7MpSd7XRiO0LN3FtQdkOzk+ofmJpqp9KeJCi72Sn0IUx9n9OHi1Dxhnan2JkpUPFaJ78LCVB2lRMA1OO1nagAAAA=" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEAEt9uu505YnrHgwME51UbzoxMYBAQ6uTlmIShM3Q5PTsRyKUXe1k0wpj1znd+Z4MZVc4ndgOFW9ocprNCNPb6aR+Faqmodnpu3oyXFwpD2bOJKeFK2Hq+52YDqTAzVm5MgHKbnQCAIYxLgeoAAAA" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEAEt9uu505YnrHgwME51UbzoxMYBAQ6uTlmIShM3Q4vTsRyKUXe1k0wpj1znd+Z4MZVc4ndgOFW9ocprNCNXb0OmkfhWqpqHZ6bs6TH2nU9cumPpJTpaxMLv6nZgOpMDNWbkyAcpudAIAmPASy6gAAAA=" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEAJvUuP505YnrHoeen3CqvOHExAAEbY9POC1VTQKz+4Ds2V8S4ezFTRB2F5C96HsyXFx2N0S8F8h+zwjR2wNkT72SDBe/qA5hdwDZ2zkgajqBbAl+CHsKkH2dNxVu/v3oBLg5AJf8j5uoAAAA" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEACs2Xn+68sR1j5YFTq4rbjgxMQBB1hwn14mKSWD2kwp71z8/E8HsIqB4WiOEfdTQ0lXgezJc/NseiHghkJ3BANFbAGSvvpIMV8+iDWEfBLK33IOozwGqYTWDqK8AslP4UsHsh0B7daMTwGy54/quAD7TIoOoAAAA" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEAJvUuP505YnrHi0LnFwrbzgxMQBB1hwn16WqSWB2EZA9+0sinL24CcI+amjpuuh7MlxcdjdEvBDIfs8I0VsAZE+9kgxXf1EdwhY/ru+6nQOiJgeoRoIfwq4Asq/zpoLZDyvsXe9HJ4DZckD1AH5mBV2oAAAA" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEAJvUuP505YnrHq4HwxwrbzgxMQBB1xZhx6WqSWD2Sml5x9lfEsHsW33ijoubIOxUdSHHRd+TweydYp8cZHdDxF+ICDi+Z4ToXfbX1nHqFYgan8uqjhfVIeyOEiPH7RwQNSHGiY4S/BB2nmeQ43XeVDA7cqa64/3oBDD7JYeaIwDjTCyHqAAAAA==" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEAJvUuP505YnrHgbMGo6VN5yYGIDg6aNzDktVk8Dsqc5PHWZ/SQSz06/fcFjcBGF3njrnsOh7MpjN+mqeg+xuiHjSv5MO7xkhehefF3ScegWi5sOrjw4X1SHslHZWx+0cEDWN3kaOEvwQ9msrZcfrvKlgtp/+d4f70QlgNrvXZwcAlnTXk6gAAAA=" />
    <add key="/intelcpu/0/power/2/values" value="H4sIAAAAAAAEAJvUuP505YnrHseOd9pX3nBiYgCCj7nz7ZeqJoHZyVfn2M/+kghmx9ycZb+4CcLeqzHLftH3ZDA7tmWGvexuiPh361n27xkheq9tmmY/9QpEjVjyHPuL6hD2uv7Z9ts5IGp8vi2wl+CHsFOXL7S/zpsKZp/eOMv+fnQCmK2wd5Y9AOXqjuioAAAA" />
    <add key="/intelcpu/0/power/3/values" value="H4sIAAAAAAAEAJvUuP505YnrHiF9K+wrbzgxMQBBw//J9ktVk8Bsl7ez7Gd/SQSz7/lPtl/cBGEzvZhov+h7MphdIdJiL7sbIu58tN/+PSNEb33kGvupVyBqnt5bbH9RHcI+lL/SfjsHRE35jAP2EvwQ9pvSbfbXeVPB7Elis+3vRyeA2V0n59oDANCve/moAAAA" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>